# system
.DS_Store
*.swp

# binaries
*.pyc
*.pyo
__pycache__

# editor
*.sublime-*

# testing
local_settings.py
.codeintel
.coverage
.coveralls.yml

# project
virtualenv
secrets.json

# build
media
public
CACHE
.cache
