body {
  padding-top: 60px;
}
.navbar {
  background-color: #323a45;
  height: 5em;
}
navbar-toggle,
nav-collapse {
  background-color: #323a45;
}
lightnav {
  width: 2em;
  background-color: #4ead82;
}
a.navbar {
  color: #ffffff;
}
.jumbotron {
  margin-top: 20px;
}
