[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */migrations/*
    */python?.?/*
    */site-packages/nose/*
    *__init__*
    */tests.py
    */admin.py

show_missing = True
