{% extends "base.html" %}
{% load compress %}

{% block title%}Django México - Blog{% endblock %}
{% block activeblog %}class="active"{% endblock %}

{% block content %}
<div class="blog-header">
    <h1 class="blog-title">El blog de django.mx</h1>
    <p class="lead blog-description">Este es el blog oficial de django.mx.</p>
</div>

<div class="row">

    <div class="col-sm-8 blog-main">
        {% for post in posts %}
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta">
                <span class="glyphicon glyphicon-calendar"></span>{{ post.created_at }} por <a href="#">{{ post.author }}</a>
            </p>
            <hr>
            {{ post.content|safe|escape }}
            {% if post.image %}
            <hr>
            <img src="{{ post.image.url }}" class="img-responsive img-rounded">
            {% endif %}
        </div><!-- /.blog-post -->
        {% empty %}
            <h2>Aún no hay post de entradas.</h2>
        {% endfor %}
        <!-- <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
        </ul> -->
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <p>En este blog trataremos de escribir tips y otras cosas útiles de django o python.</p>
        </div>
        <div class="sidebar-module">
            <h4>En otra parte</h4>
            <ol class="list-unstyled">
                <li><a href="https://twitter.com/django_mx">Twitter</a></li>
                <li><a href="https://www.facebook.com/django.mexico">Facebook</a></li>
                <li><a href="https://github.com/dubnio/djangomx">GitHub</a></li>
            </ol>
        </div>
    </div>

</div>

{% endblock %}